<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Homecam"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".RegisterActivity" android:label="회원가입"/>
        <activity android:name=".HomeActivity" android:label="Home"/>
        <activity android:name=".HomeCamActivity" android:label="Homecam"/>
        <activity android:name=".DoorLockActivity" android:label="DoorLock"/>
        <activity android:name=".UserActivity" android:label="사용자정보"/>
        <activity android:name=".DoorlockSuccess" android:label="방문 기록"/>
        <activity android:name=".Doorlockfail" android:label="경고 점근 기록"/>
        <activity android:name=".HomecamMovemes" android:label="모션 감지"/>
    </application>

</manifest>